* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-size: 62.5%;
}

html {
    font-family: "Microsoft Yahei";
}

.bd {
    border: solid 1px;
}

.bg {
    background-color: rgba(0, 0, 0, .8) !important;
}

.curp{
    cursor: pointer;
}

.fx {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.fxdc {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
}

.aic {
    -ms-align-items: center;
    align-items: center;
}

.jcc {
    justify-content: center;
}

.fxmc {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
}

/* frame */

html {
    height: 100%;
    background: #172450 url(../img/bg.png) center;
    -webkit-background-size: cover;
    background-size: cover;
}

.header {
    width: 5.84rem;
    height: 0.77rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: url(../img/header.png) top no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
}

.header {
    transition: .3s;
    z-index: 9;
}

.header:hover {
    opacity: 0;
}

.container {
    width: 19.2rem;
    height: 10.8rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.container .backdraw {
    width: 100%;
    height: 100%;
    background: url(../img/p1.l.png) center;
    -webkit-background-size: contain;
    background-size: contain;
    /*opacity: .6;*/
}

/*地图*/

.Mo {
    width: 15.25rem;
    height: 5.39rem;
    position: absolute;
    top: 1.24rem;
    left: 3.63rem;
    right: 0;
    bottom: 0;
    background: url(../img/m2.png) center;
    -webkit-background-size: contain;
    background-size: contain;
}

.Mo.p1 {
    position: absolute;
    top: 1.18rem;
    left: 0.36rem;
    right: 0;
    bottom: 0;
    transform: rotateY(35.4deg);
    transform-origin: left;
}

.Mo canvas {
    width: 100%;
    height: 100%;
}

.map{
    position: absolute;
    top: 0;
    left: 0;
    width: 15.25rem;
    height: 5.39rem;
    background: url(../img/m2.png) center;
    -webkit-background-size: contain;
    background-size: contain;
}

.area{
    float: left;
    width: 10%;
    height: 2.92rem;
    background-color: rgba(140, 140, 140, 0.2);
    border: solid 1px #696969;
    position: absolute;
    top: 2.33rem;
    text-shadow: 4px 3px 4px #fff;
}

.area.active{
    box-shadow: inset 2px 2px 9px 0px rgb(109, 109, 109);
}

.lv0 {
    background-color: rgba(77, 247, 117, 0.17);
    border: solid 1px #07c333;
}

.lv1 {
    background-color: rgba(19, 146, 255, 0.28);
    border: solid 1px #1392ff;
    background-color: rgba(77, 247, 117, 0.17);
    border: solid 1px #07c333;
}

.lv2 {
    background-color: rgba(245, 243, 69, 0.17);
    border: solid 1px #d8cb00;
}

.lv3 {
    background-color: rgba(255, 165, 0, 0.35);
    border: solid 1px #ffa500;
}

.lv4 {
    background-color: rgba(244, 52, 39, 0.17);
    border: solid 1px #e13721;
}

.Mo .ls {
    /*height: 2.92rem;*/
}

.Mo .ls .it {}

.Mo .ls .it .t {
    font-size: 0.2rem;
    color: #2b7b7a;
}

.Mo .ls .it .n {
    font-size: 0.48rem;
    color: #2b7b7a;
}

/*轨迹*/

.Mo .ts {}

.Mo .ts .it {
    position: absolute;
    width: 10px;
    height: 10px;
    margin-left: -5px;
    margin-top: -5px;
    background: #f60;
    border-radius: 9em;
    cursor: pointer;
    transition: .25s;
}

.Mo .ts .it.active {
    background: #ff1313;
    box-shadow: 2px 3px 8px #790800;
    border: solid 1px #fff;
    transform: scale(2);
}

.Mo .ts .it:hover {
    transform: scale(1.5);
}

.Mo .ts .p {
    position: absolute;
    top: 100px;
    width: 0;
    height: 0;
    cursor: pointer;
}

.Mo .ts .p .i {
    width: 1.14rem;
    height: 1.14rem;
    border-radius: 99em;
    overflow: hidden;
    /*border: solid 1px #f00;*/
    box-shadow: 0px 0px 10px #ff0000;
    position: absolute;
    bottom: .15rem;
    left: -.57rem;
    margin-bottom: .25rem;
}

.Mo .ts .p .d {
    border: solid .15rem #0af0;
    width: 0;
    height: 0;
    position: absolute;
    bottom: 0;
    left: -.15rem;
    border-top-color: #f00;
}

/*环图*/

.Co {
    width: 5.77rem;
    height: 3.9rem;
    position: absolute;
    top: 6.7rem;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
}

.Co #chart {
    width: 100%;
    height: 100%;
}

.Co .t {
    font-size: 0.24rem;
    color: #fcd300;
    position: absolute;
    top: 1.5rem;
    left: 0;
    right: 0;
    bottom: 0;
}

.Co .n {
    font-size: 0.47rem;
    color: #fcd300;
    position: absolute;
    top: 1.83rem;
    left: 0;
    right: 0;
    bottom: 0;
}

/*子图*/

.So {
    width: 6.16rem;
    height: 3.61rem;
    position: absolute;
    top: 6.88rem;
    left: 6.46rem;
    right: 0;
    bottom: 0;
}

.So .st{
    position: absolute;
    top: 0.74rem;
    right: 100%;
    margin-right: .33rem;
    font-size: .222rem;
    color: #1bf2ef;
    width: .23rem;
    height: 1.75rem;
    background: #0a1935;
    text-align: center;
    margin-top: -.02rem;
    padding-top: .02rem;
    height: 1.8rem;
}

.So .slice{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.So .slice .Mo {
    position: absolute;
    top: -2rem;
    left: 0;
    transition: .3s;
}

/*预测*/

.R1 {
    position: absolute;
    top: 0.81rem;
    left: 13.22rem;
    right: 0;
    bottom: 0;
}

.R2 {
    position: absolute;
    top: 4.1rem;
    left: 13.22rem;
    right: 0;
    bottom: 0;
}

.R3 {
    position: absolute;
    top: 7.4rem;
    left: 13.22rem;
    right: 0;
    bottom: 0;
}

.Ro {
    width: 5.79rem;
    height: 3.24rem;
}

.Ro .ls {
    width: 5.15rem;
    height: 1.02rem;
    position: absolute;
    top: 0.63rem;
    left: 0.25rem;
    right: 0;
    bottom: 0;
}

.Ro .ls .it {
    float: left;
    width: 22%;
    height: 100%;
    width: 0.58rem;
    height: 1.02rem;
    /*background-color: rgba(77, 247, 117, 0.17);*/
    /*border: solid 0.01rem #07c333;*/
    position: relative;
    text-align: center;
}

.Ro .ls .it .t {
    font-size: 0.12rem;
    color: #eeeeee;
    line-height: 0.001rem;
    position: absolute;
    top: 1.14rem;
    left: 0;
    right: 0;
    bottom: 0;
}

.Ro .ls .it .n {
    font-size: 0.17rem;
    color: #ffffff;
}

.Ro .msg {
    width: 5.15rem;
    height: 0.7rem;
    overflow: auto;
    position: absolute;
    top: 2.5rem;
    top: 2.4rem;
    left: 0.35rem;
    right: 0;
    bottom: 0;
}

.Ro .msg .it {
    line-height: 0;
}

.Ro .msg .it .dot {
    display: inline-block;
    border-radius: 9em;
    width: 0.1rem;
    height: 0.1rem;
    /*background-color: #ff0000;*/
}

.Ro .msg .it .txt {
    display: inline-block;
    color: #ededed;
    font-size: 0.14rem;
}

/*人员列表*/

.Lo {
    width: 3.1rem;
    height: 9.55rem;
    position: absolute;
    top: 1.06rem;
    left: 0.21rem;
    right: 0;
    bottom: 0;
}

.Lo .ls {
    position: absolute;
    top: 0.95rem;
    left: 0.25rem;
    right: 0rem;
    bottom: 0rem;
    overflow: auto;
}

.Lo .ls .it {
    overflow: auto;
    margin-bottom: 0.4rem;
    cursor: pointer;
}

.Lo .ls .it .i {
    float: left;
    width: 1.14rem;
    height: 1.14rem;
    border-radius: 99em;
    overflow: hidden;
}

.Lo .ls .it .t {
    float: left;
    line-height: 1.14rem;
    margin-left: 0.27rem;
    font-size: 0.3rem;
    color: #eeecdb;
}

.Lo .ls .it.active .i {
    width: 1.14rem;
    height: 1.14rem;
    background-color: #0b1130;
    border: solid 0.03rem rgba(249, 76, 53, 0.93);
}

.Lo .ls .it.active .t {
    color: #fd4d45;
}

/*视频*/

.Vo {
    width: 8.09rem;
    height: 3.26rem;
    position: absolute;
    top: 7.19rem;
    left: 3.69rem;
    right: 0;
    bottom: 0;
    background: #000;
}

.Vo video {
    width: 100%;
    height: 100%;
}

/*身份*/

.Io {
    width: 6.83rem;
    height: 3.6rem;
    position: absolute;
    top: 7.02rem;
    left: 12.15rem;
    right: 0;
    bottom: 0;
}

.Io .ls {
    height: 100%;
    padding: 0.1625rem 0
}

.Io .ls .it {
    height: 20%;
    font-size: 0.24rem;
    color: #fefeff;
    padding-left: .22rem;
    line-height: 0.65rem;
}

.Io .i {
    width: 2.09rem;
    height: 2.3rem;
    position: absolute;
    top: 0.66rem;
    left: 4.43rem;
    background-color: rgba(123, 123, 123, 0.21);
}

/**/

@media screen and (min-width:768px) {
    ::-webkit-scrollbar {
        width: 14px;
        height: 14px
    }
    ::-webkit-scrollbar-track,
    ::-webkit-scrollbar-thumb {
        border-radius: 999px;
        border: 5px solid transparent
    }
    ::-webkit-scrollbar-track {
        box-shadow: 1px 1px 5px rgba(0, 0, 0, .05) inset
    }
    ::-webkit-scrollbar-thumb {
        min-height: 20px;
        background-clip: content-box;
        box-shadow: 0 0 0 5px rgba(0, 0, 0, .2) inset
    }
    ::-webkit-scrollbar-corner {
        background: transparent
    }
}
