<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="MobileOptimized" content="320">
    <meta name="HandheldFriendly" content="true">
    <meta name="full-screen" content="yes">
    <meta name="x5-fullscreen" content="true">
    <meta name="browsermode" content="application">
    <meta name="x5-page-mode" content="app">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <title>光启超级智能追踪系统</title>
    <script>
    addEventListener('resize', function f() {
        var html = document.documentElement,
            width = html.clientWidth,
            height = html.clientHeight;
        html.style.fontSize = (width > height * 1920 / 1080 ? height * 1920 / 1080 : width) * 100 / 1920 + 'px';
        return f
    }());
    </script>
    <link rel="stylesheet" type="text/css" href="css/global.css">
</head>

<body>
    <div class="header"></div>
    <div id="vue" class="container">
        <div class="backdraw"></div>
        <!-- 实时人数 -->
        <div class="Mo Mox">
            <canvas id="canvas" width="1525" height="539"></canvas>
            <div class="map"></div>
            <div class="ls">
                <div v-for="item in table.area" class="it fxmc fxdc" :style="{left:rem(item.x),top:rem(item.y),width:rem(item.width),height:rem(item.height)}" :class="{
                        lv0: table.count.get({name:item.name}).level==0,
                        lv1: table.count.get({name:item.name}).level==1,
                        lv2: table.count.get({name:item.name}).level==2,
                        lv3: table.count.get({name:item.name}).level==3,
                        lv4: table.count.get({name:item.name}).level==4,
                        active: selected.area==item
                    }" @click="selected.area=item">
                    <div class="t">{{item.name}}</div>
                    <div class="n">{{table.count.get({name:item.name}).value}}</div>
                </div>
            </div>
        </div>
        <!-- 区细分图 -->
        <div class="So">
            <div class="Mo" :style="subAreaPosition">
                <canvas id="canvas" width="1525" height="539"></canvas>
                <div class="map"></div>
                <div class="ls">
                    <div v-for="item in table.subArea" class="it fxmc" :style="{left:rem(item.x),top:rem(item.y),width:rem(item.width),height:rem(item.height)}" :class="{
                            lv0: table.subCount.get({name:item.name}).level==0,
                            lv1: table.subCount.get({name:item.name}).level==1,
                            lv2: table.subCount.get({name:item.name}).level==2,
                            lv3: table.subCount.get({name:item.name}).level==3,
                            lv4: table.subCount.get({name:item.name}).level==4,
                        }">
                        <div class="t">{{item.name}}: </div>
                        <div class="n" style="font-size:.2rem">{{table.subCount.get({name:item.name}).value}}</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 环图 -->
        <div class="Co">
            <div class="ct">
                <div class="t">当前总人数</div>
                <div class="n">{{total}}</div>
            </div>
            <div id="chart"></div>
        </div>
        <!-- 预测 -->
        <div class="R1 Ro">
            <div class="ls">
                <div v-for="item in table.area" class="it fxmc" :style="{width:areaPercent(item)}" :class="{
                    lv0: table.forecast3.count.get({name:item.name}).level==0,
                    lv1: table.forecast3.count.get({name:item.name}).level==1,
                    lv2: table.forecast3.count.get({name:item.name}).level==2,
                    lv3: table.forecast3.count.get({name:item.name}).level==3,
                    lv4: table.forecast3.count.get({name:item.name}).level==4,
                }">
                    <div class="t">{{item.name}}</div>
                    <div class="n">{{table.forecast3.count.get({name:item.name}).value}}</div>
                </div>
            </div>
            <div class="msg">
                <div v-for="item in table.forecast3.tip" class="it">
                    <span v-if="item.level==0" class="dot lv0"></span>
                    <span v-if="item.level==1" class="dot lv1"></span>
                    <span v-if="item.level==2" class="dot lv2"></span>
                    <span v-if="item.level==3" class="dot lv3"></span>
                    <span v-if="item.level==4" class="dot lv4"></span>
                    <div class="txt">{{item.msg}}</div>
                </div>
            </div>
        </div>
        <div class="R2 Ro">
            <div class="ls">
                <div v-for="item in table.area" class="it fxmc" :style="{width:areaPercent(item)}" :class="{
                    lv0: table.forecast3.count.get({name:item.name}).level==0,
                    lv1: table.forecast3.count.get({name:item.name}).level==1,
                    lv2: table.forecast3.count.get({name:item.name}).level==2,
                    lv3: table.forecast3.count.get({name:item.name}).level==3,
                    lv4: table.forecast3.count.get({name:item.name}).level==4,
                }">
                    <div class="t">{{item.name}}</div>
                    <div class="n">{{table.forecast5.count.get({name:item.name}).value}}</div>
                </div>
            </div>
            <div class="msg">
                <div v-for="item in table.forecast5.tip" class="it">
                    <span v-if="item.level==0" class="dot lv0"></span>
                    <span v-if="item.level==1" class="dot lv1"></span>
                    <span v-if="item.level==2" class="dot lv2"></span>
                    <span v-if="item.level==3" class="dot lv3"></span>
                    <span v-if="item.level==4" class="dot lv4"></span>
                    <div class="txt">{{item.msg}}</div>
                </div>
            </div>
        </div>
        <div class="R3 Ro">
            <div class="ls">
                <div v-for="item in table.area" class="it fxmc" :style="{width:areaPercent(item)}" :class="{
                    lv0: table.forecast3.count.get({name:item.name}).level==0,
                    lv1: table.forecast3.count.get({name:item.name}).level==1,
                    lv2: table.forecast3.count.get({name:item.name}).level==2,
                    lv3: table.forecast3.count.get({name:item.name}).level==3,
                    lv4: table.forecast3.count.get({name:item.name}).level==4,
                }">
                    <div class="t">{{item.name}}</div>
                    <div class="n">{{table.forecast10.count.get({name:item.name}).value}}</div>
                </div>
            </div>
            <div class="msg">
                <div v-for="item in table.forecast10.tip" class="it">
                    <span v-if="item.level==0" class="dot lv0"></span>
                    <span v-if="item.level==1" class="dot lv1"></span>
                    <span v-if="item.level==2" class="dot lv2"></span>
                    <span v-if="item.level==3" class="dot lv3"></span>
                    <span v-if="item.level==4" class="dot lv4"></span>
                    <div class="txt">{{item.msg}}</div>
                </div>
            </div>
        </div>
    </div>
    <script src="lib/vue.js"></script>
    <script src="lib/proto.js"></script>
    <script src="lib/$.js"></script>
    <script src="lib/ajax.js"></script>
    <script src="lib/jquery.js"></script>
    <script src="lib/echarts.min.js"></script>
    <script>
    ajax.base = 'http://10.4.91.126:8080/labelling_platform/'
    // ajax.useLocal = true

    var vue = new Vue({
        el: '#vue',
        data: {
            total: 0,
            table: {
                area: [],
                subArea: [],
                count: [],
                subCount: [],
                forecast3: {
                    count: [],
                    tip: [],
                },
                forecast5: {
                    count: [],
                    tip: [],
                },
                forecast10: {
                    count: [],
                    tip: [],
                },
            },
            selected: {
                area: {}
            },
            subAreaPosition: {}
        },
        watch: {
            'table.count': function() {
                var data = vue.table.count
                vue.total = data.sum('value')
                // chart
                chart.setOption({
                    series: {
                        data: data
                    }
                })
            },
            'selected.area': function () {
                vue.subAreaLoad(vue.selected.area)
                vue.subCountLoad(vue.selected.area)
            },
            'table.subArea': function () {
                var x = vue.table.subArea.min('x').x
                var y = vue.table.subArea.min('y').y
                vue.subAreaPosition = {
                    left: vue.rem(-x + 100),
                    top: vue.rem(-y + 130),
                }
            }
        },
        methods: {
            rem: function(x) {
                return x / 100 + 'rem'
            },
            areaLoad: function() {
                ajax({
                    local: 'data/area.json',
                    url: 'trajectory/listArea.do',
                    success: function(res) {
                        var data = res.data || []
                        vue.table.area = data
                    }
                })
            },
            subAreaLoad: function (area) {
                ajax({
                    local: 'data/area.json',
                    url: 'trajectory/listArea.do',
                    data: {
                        area_id: area.id
                    },
                    success: function(res) {
                        var data = res.data || []
                        vue.table.subArea = data
                    }
                })
            },
            areaPercent: function(item) {
                return item.width / vue.table.area.sum('width') * 100 + '%'
            },
            countLoad: function() {
                ajax({
                    local: 'data/count.json',
                    url: 'trajectory/countArea.do',
                    success: function(res) {
                        var data = res.data || []
                        vue.table.count = data
                    }
                })
            },
            subCountLoad: function(area) {
                ajax({
                    local: 'data/count.json',
                    url: 'trajectory/countArea.do',
                    data: {
                        area_id: area.id
                    },
                    success: function(res) {
                        var data = res.data || []
                        vue.table.subCount = data
                    }
                })
            },
            forecastLoad: function(m) {
                $.ajax({
                    local: 'data/forecast.json',
                    url: ajax.base+'/forecastJson/getFutureMinutesAreaCount.do',
                    data: {
                        minutes: m
                    },
                    type: 'post',
                    dataType: 'json',
                    success: function(res) {
                        var data = res.data || []
                        vue.table['forecast' + m] = data
                    }
                })
            },
            areaForecastCount: function(area, minutes) {
                return vue.table['forecast' + minutes].count.get({ name: area.name }).value
            }
        },
        mounted: function() {
            vue = this

            vue.areaLoad()
            vue.countLoad()
            vue.forecastLoad(3)
            vue.forecastLoad(5)
            vue.forecastLoad(10)
        }
    })
    </script>
    <script>
    var chart = echarts.init(document.getElementById('chart'));
    var option = {
        tooltip: {
            trigger: 'item',
            formatter: "{b} {a} {c}"
        },
        color: ['#e76d1e', '#1b64d5', '#19dbd4', '#13a436', '#ecd514'], //手动设置每个图例的颜色
        legend: {
            orient: 'horizontal',
            left: 'center',
            bottom: 0,
            data: ['30%', '10%', '15%', '20%', '25%'],
            textStyle: { //图例文字的样式
                color: '#fff', //文字颜色
                fontSize: 12 //文字大小
            }
        },
        series: [{
            name: '人数',
            type: 'pie',
            radius: ['48%', '55%'],
            itemStyle: { //图形样式
                normal: { //normal 是图形在默认状态下的样式；emphasis 是图形在高亮状态下的样式，比如在鼠标悬浮或者图例联动高亮时。
                    label: { //饼图图形上的文本标签
                        show: true, //平常不显示
                        textStyle: {
                            fontSize: '12',
                            color: '#fff',
                        },
                        formatter: function(obj) {
                            return obj.name + ' ' + obj.percent + '%'
                        }
                    },
                    labelLine: { //标签的视觉引导线样式
                        show: true, //平常不显示
                        textStyle: {
                            fontSize: '12',
                            color: '#fff',
                        }
                    }
                },
                emphasis: { //normal 是图形在默认状态下的样式；emphasis 是图形在高亮状态下的样式，比如在鼠标悬浮或者图例联动高亮时。
                    label: { //饼图图形上的文本标签
                        show: true,
                        position: 'center',
                        textStyle: {
                            fontSize: '10',
                            fontWeight: 'bold'
                        },
                    }
                }
            },
            data: [
                // { value: 10, name: 'A区' }
            ]
        }]
    };
    chart.setOption(option)
    onresize = chart.resize
    </script>
</body>

</html>