<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="MobileOptimized" content="320">
    <meta name="HandheldFriendly" content="true">
    <meta name="full-screen" content="yes">
    <meta name="x5-fullscreen" content="true">
    <meta name="browsermode" content="application">
    <meta name="x5-page-mode" content="app">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <title>光启超级智能追踪系统.</title>
    <script>
    addEventListener('resize', function f() {
        var html = document.documentElement,
            width = html.clientWidth,
            height = html.clientHeight;
        html.style.fontSize = (width > height * 1920 / 1080 ? height * 1920 / 1080 : width) * 100 / 1920 + 'px';
        return f
    }());
    </script>
    <link rel="stylesheet" type="text/css" href="css/global.css">
    <style type="text/css">
    .container .backdraw {
        width: 100%;
        height: 100%;
        background: url(img/p2.l.png) center;
        -webkit-background-size: contain;
        background-size: contain;
        opacity: .6;
    }

    </style>
</head>

<body>
    <div class="header"></div>
    <div id="vue" class="container">
        <div class="backdraw"></div>
        <!-- 人员列表 -->
        <div class="Lo">
            <div class="ls">
                <div v-for="item in table.person" class="it" :class="{active:selected.person==item}" @click="selected.person=item">
                    <img class="i" :src="item.avatar">
                    <div class="t">{{item.name}}</div>
                </div>
            </div>
        </div>
        <!-- map -->
        <div class="Mo">
            <canvas id="canvas" width="1525" height="539"></canvas>
            <div class="ls">
                <div v-for="item in table.area" class="it fxmc fxdc area" :style="{left:rem(item.x),top:rem(item.y),width:rem(item.width),height:rem(item.height)}" :class="{
                        lv0: table.count.get({name:item.name}).level==0,
                        lv1: table.count.get({name:item.name}).level==1,
                        lv2: table.count.get({name:item.name}).level==2,
                        lv3: table.count.get({name:item.name}).level==3,
                        lv4: table.count.get({name:item.name}).level==4,
                    }">
                    <div class="t">{{item.name}}</div>
                    <!-- <div class="n">{{table.count.get({name:item.name}).value}}</div> -->
                </div>
            </div>
            <div class="ts">
                <span v-for="item in table.track" :style="{top:rem(item.y),left:rem(item.x)}" class="it" :class="{active:selected.track==item}" @click="selected.track=item">
                    
                </span>
                <div v-if="!Object.isEmpty(table.track)" class="p" :style="{top:rem(table.track.last().y),left:rem(table.track.last().x)}" @click="selected.track=table.track.last()">
                    <img class="i" :src="selected.person.avatar">
                    <span class="d"></span>
                </div>
            </div>
        </div>
        <!-- 视频 -->
        <div class="Vo">
            <div class="vt">监控人员-{{selected.track.deviceName}}</div>
            <!-- <video src="http://10.4.91.126:8080/123.mp4" controlsxxx autoplay loop></video> -->
            <video id="video" :src="selected.track.src" controlsxx autoplay loop @dblclick="videoFullscreen()"></video>
            <!-- <video>
                <source src="ftp://uftp:uftp@10.4.91.233/mp/123.mp4" controls type="video/mp4"></source>
            </video> -->
        </div>
        <!-- 人员信息 -->
        <div v-if="selected.person" class="Io">
            <div class="ls">
                <div class="it">姓　　名：{{selected.person.name}}</div>
                <div class="it">性　　别：{{selected.person.sex}}</div>
                <div class="it">身份证号：{{selected.person.no}}</div>
                <div class="it">监控类型：{{selected.person.type}}</div>
                <div class="it">备注信息：{{selected.person.note}}</div>
            </div>
            <img class="i" :src="selected.person.avatar">
        </div>
    </div>
    <script src="lib/vue.js"></script>
    <script src="lib/proto.js"></script>
    <script src="lib/$.js"></script>
    <script src="lib/ajax.js"></script>
    <script src="lib/jquery.js"></script>
    <script src="lib/echarts.min.js"></script>
    <script src="js/global.js"></script>
    <script>
        vue.$watch('selected.area', function () {
            vue.subAreaLoad(vue.selected.area)
            vue.subCountLoad(vue.selected.area)
        })

        vue.$watch('table.person', function () {
            // vue.selected.person = vue.table.person.first()
        })
        vue.$watch('selected.person', function() {
            vue.trackLoad()
        })

        vue.areaLoad()
        vue.countLoad()
        vue.personLoad()
        setInterval(function () {
            vue.countLoad()
            vue.personLoad()
        }, 30000)
    </script>
</body>

</html>