<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="MobileOptimized" content="320">
    <meta name="HandheldFriendly" content="true">
    <meta name="full-screen" content="yes">
    <meta name="x5-fullscreen" content="true">
    <meta name="browsermode" content="application">
    <meta name="x5-page-mode" content="app">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <title>设备配置@光启超级智能追踪系统</title>
    <script>
    addEventListener('resize', function f() {
        var html = document.documentElement,
            width = html.clientWidth,
            height = html.clientHeight;
        html.style.fontSize = (width > height * 1920 / 1080 ? height * 1920 / 1080 : width) * 100 / 1920 + 'px';
        return f
    }());
    </script>
    <link rel="stylesheet" type="text/css" href="lib/wui.css">
    <link rel="stylesheet" type="text/css" href="css/global.css">
    <style type="text/css">
    body {
        font-size: 14px;
    }

    .container {
        padding-top: 0.77rem;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    .container>.row,
    .container>.row>.col{
        height: 100%;
    }
    .container>.row>.col>.list,
    .container>.row>.col>.detail{
        height: 100%;
        overflow: auto;
    }
    /**/

    .list {
        background: #fff;
        padding: .5em;
    }

    .list>ul {}

    .list>ul>li {
        padding: .5em;
    }

    .list>ul>li>span {
        display: block;
        padding: .5em;
    }

    .list>ul>li>ol {
        padding-left: 2em;
        list-style: none;
        border-left: dashed 1px #888;
    }

    .list>ul>li>ol>li {}

    .list>ul>li>ol>li>span {
        display: block;
        padding: .5em;
        cursor: pointer;
    }

    .list>ul>li>ol>li:hover>span{
        color: #f80;
    }
    .hover:hover{
        color: #f80;
        cursor: pointer;
    }
    .active{
        color: #0af;
    }

    .detail {
        background: #fff;
        padding: .5em;
    }

    .input[disabled]{
        border: none;
        width: auto !important;
        -webkit-appearance: none;
    }
    .sh{
        box-shadow: 5px 7px 20px #b7b7b7c9;
    }
    .Mo{
        top: 0; left: 0; right: 0; bottom: auto; margin: auto;
        z-index: 9
    }
    .dot{
        position: absolute;
        width:4px;margin-left:-2px;height:5px;margin-top:-2px;background:#0af;border-radius:9em;
    }
    </style>
</head>

<body><!-- 
        <div class="sh" style="position:absolute;top:0;left:50%;margin-left:-762.5px;width:1525px;height:539px;">
            <img src="img/m2.png">
            <div style="width:5px;height:5px;background:#0af;border-radius:9em">222222222222</div>
        </div> -->
    <div class="header"></div>
    <div id="vue" class="container" v-cloak>
        <div class="row">
            <div class="col w6">
                <!-- list -->
                <div class="list">
                    <ul>
                        <li>[</li>
                        <li v-for="item in t.area">
                            <span class="hover" :class="{active:page=='capacity'&&c.area_id==item.id&&!c.device_id}" @click="showPage('capacity',{area_id:item.id})">{{item.name}}</span>
                            <ol>
                                <li v-for="device in t.device" v-if="device.area_id==item.id" :class="{active:(page=='device'&&device==d)||(page=='capacity'&&device.id==c.device_id)}" @click="showPage('device',device)">
                                    <span>{{device.device_name}}</span>
                                </li>
                                <li class="none">
                                    <b class="button">+</b>
                                </li>
                            </ol>
                        </li>
                        <li class="none">
                            <b class="button">+ 添加区域</b>
                        </li>
                        <li>]</li>
                    </ul>
                </div>
            </div>
            <div class="col w18">
                <!-- detail -->
                <div class="detail">
                    <div v-if="page=='device'" class="form w480 mw">
                        <div class="row">
                            <div class="col" style="text-align:left">{</div>
                        </div>
                        <div class="row">
                            <div class="col">"id":</div>
                            <div class="col"><span class="input" xv-model="d.id" disabled>{{d.id||'(^_^)'}}</span>,</div>
                            <!-- <div class="col">,</div> -->
                        </div>
                        <div class="row">
                            <div class="col">"area_id":</div>
                            <div class="col">
                                <span v-if="d.area_id" class="input" xv-model="d.area_id" disabled>{{d.area_id}}</span>
                                <select class="input" v-model="d.area_id">
                                    <option :value="void(0)">区域</option>
                                    <option v-for="item in t.area" :value="item.id">{{item.name}}</option>
                                </select>
                                <span>,</span>
                            </div>
                            <!-- <div class="col">,</div> -->
                        </div>
                        <div class="row">
                            <div class="col">"device_name":</div>
                            <div class="col"><input class="input" v-model="d.device_name"></div>
                            <div class="col">,</div>
                        </div>
                        <div class="row">
                            <div class="col">"device_type":</div>
                            <div class="col"><input class="input" v-model="d.device_type"></div>
                            <div class="col">,</div>
                        </div>
                        <div class="row">
                            <div class="col">"file_path":</div>
                            <div class="col"><input class="input" v-model="d.file_path"></div>
                            <div class="col">,</div>
                        </div>
                        <div class="row">
                            <div class="col">"prototxt":</div>
                            <div class="col"><input class="input" v-model="d.prototxt"></div>
                            <div class="col">,</div>
                        </div>
                        <div class="row">
                            <div class="col">"thresh_head_y":</div>
                            <div class="col"><input class="input" v-model="d.thresh_head_y"></div>
                            <div class="col">,</div>
                        </div>
                        <div class="row">
                            <div class="col">"frame_interval":</div>
                            <div class="col"><input class="input" v-model="d.frame_interval"></div>
                            <div class="col">,</div>
                        </div>
                        <div class="row">
                            <div class="col">"direction_in_out":</div>
                            <div class="col"><input class="input" v-model="d.direction_in_out"></div>
                            <div class="col">,</div>
                        </div>
                        <div class="row">
                            <div class="col">"caffemodel":</div>
                            <div class="col"><input class="input" v-model="d.caffemodel"></div>
                            <div class="col">,</div>
                        </div>
                        <div class="row">
                            <div class="col">"server_ip":</div>
                            <div class="col"><input class="input" v-model="d.server_ip"></div>
                            <div class="col">,</div>
                        </div>
                        <div class="row">
                            <div class="col">"x1", "y1":</div>
                            <div class="col">
                                <div class="group">
                                    <input class="input" type="number" v-model="d.x1" @focus="b.map=true" @blur="b.map=false">
                                    <input class="input" type="number" v-model="d.y1" @focus="b.map=true" @blur="b.map=false">
                                </div>
                            </div>
                            <div class="col">,</div>
                        </div>
                        <div class="row">
                            <div class="col">"x2", "y2":</div>
                            <div class="col">
                                <div class="group">
                                    <input class="input" type="number" v-model="d.x2" @focus="b.map=true" @blur="b.map=false">
                                    <input class="input" type="number" v-model="d.y2" @focus="b.map=true" @blur="b.map=false">
                                </div>
                            </div>
                            <div class="col">,</div>
                        </div>
                        <div class="row">
                            <div class="col">"x3", "y3":</div>
                            <div class="col">
                                <div class="group">
                                    <input class="input" type="number" v-model="d.x3" @focus="b.map=true" @blur="b.map=false">
                                    <input class="input" type="number" v-model="d.y3" @focus="b.map=true" @blur="b.map=false">
                                </div>
                            </div>
                            <div class="col">,</div>
                        </div>
                        <div class="row">
                            <div class="col">"x4", "y4":</div>
                            <div class="col">
                                <div class="group">
                                    <input class="input" type="number" v-model="d.x4" @focus="b.map=true" @blur="b.map=false">
                                    <input class="input" type="number" v-model="d.y4" @focus="b.map=true" @blur="b.map=false">
                                </div>
                            </div>
                            <div class="col">,</div>
                        </div>
                        <div class="row">
                            <div class="col">"line1_a":</div>
                            <div class="col"><input class="input" v-model="d.line1_a"></div>
                            <div class="col">,</div>
                        </div>

                        <div class="row">
                            <div class="col">"line1_b":</div>
                            <div class="col"><input class="input" v-model="d.line1_b"></div>
                            <div class="col">,</div>
                        </div>

                        <div class="row">
                            <div class="col">"line2_a":</div>
                            <div class="col"><input class="input" v-model="d.line2_a"></div>
                            <div class="col">,</div>
                        </div>

                        <div class="row">
                            <div class="col">"line2_b":</div>
                            <div class="col"><input class="input" v-model="d.line2_b"></div>
                            <div class="col">,</div>
                        </div>
                        <div class="row">
                            <div class="col">"left_x":</div>
                            <div class="col"><input class="input" v-model="d.left_x"></div>
                            <div class="col">,</div>
                        </div>
                        <div class="row">
                            <div class="col">"right_x":</div>
                            <div class="col"><input class="input" v-model="d.right_x"></div>
                            <div class="col">,</div>
                        </div>
                        <div class="row">
                            <div class="col">"top_y":</div>
                            <div class="col"><input class="input" v-model="d.top_y"></div>
                            <div class="col">,</div>
                        </div>
                        <div class="row">
                            <div class="col">"bottom_y":</div>
                            <div class="col"><input class="input" v-model="d.bottom_y"></div>
                            <div class="col">,</div>
                        </div>
                        <div class="row">
                            <div class="col">"GPU_NO":</div>
                            <div class="col"><input class="input" v-model="d.GPU_NO"></div>
                            <div class="col">,</div>
                        </div>
                        <div class="row">
                            <div class="col">"device_id":</div>
                            <div class="col"><input class="input" v-model="d.device_id"></div>
                            <div class="col">,</div>
                        </div>
                        <div class="row">
                            <div class="col">"video_path":</div>
                            <div class="col"><input class="input" v-model="d.video_path"></div>
                            <div class="col">,</div>
                        </div>
                        <div class="row">
                            <div class="col">"thresh_dis_y_100":</div>
                            <div class="col"><input class="input" v-model="d.thresh_dis_y_100"></div>
                            <div class="col">,</div>
                        </div>
                        <div class="row">
                            <div class="col">"device_ip":</div>
                            <div class="col"><input class="input" v-model="d.device_ip"></div>
                            <div class="col">,</div>
                        </div>
                        <div class="row">
                            <div class="col">"thresh_dis_x_70":</div>
                            <div class="col"><input class="input" v-model="d.thresh_dis_x_70"></div>
                            <div class="col">,</div>
                        </div>
                        <div class="row">
                            <div class="col">"thresh_img_num":</div>
                            <div class="col"><input class="input" v-model="d.thresh_img_num"></div>
                            <div class="col">,</div>
                        </div>
                        <div class="row">
                            <div class="col" style="text-align:left">}</div>
                        </div>
                        <div class="row abs b0 z1">
                            <div class="col" style="width:10em"></div>
                            <div class="col">
                                <div class="pd">
                                    <b class="button sh primary" @click="deviceSave">保存</b>
                                    <b class="button sh" @click="showPage('capacity',{device_id:d.id,area_id:d.area_id})">容量设置</b>
                                    <b class="button sh" @click="deviceDelete">删除</b>
                                    <b class="button sh" @click="d={x1:'',y1:'',x2:'',y2:'',x3:'',y3:'',x4:'',y4:''}">新增设备</b>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div v-if="page=='capacity'" class="form w480 mw">
                        <div class="row">
                            <div class="col" style="text-align:left">{</div>
                        </div>
                        <div class="row">
                            <div class="col">"area_id":</div>
                            <div class="col">
                                <span v-if="c.area_id" class="input" xv-model="c.area_id" disabled>{{c.area_id}}</span>
                                <select class="input none" v-model="c.area_id" disabled>
                                    <option :value="void(0)">区域</option>
                                    <option v-for="item in t.area" :value="item.id">{{item.name}}</option>
                                </select>
                                <span class="muted">({{t.area.get({id:c.area_id}).name}})</span>
                                <span>,</span>
                            </div>
                            <!-- <div class="col">,</div> -->
                        </div>                   
                        <div v-if="c.device_id" class="row">
                            <div class="col">"device_id":</div><div class="col"><input class="input" v-model="c.device_id"></input></div><div class="col">,</div>
                        </div>
                        <div class="row">
                            <div class="col">"level_four":</div><div class="col"><input class="input" v-model="c.level_four"></input></div><div class="col">,</div>
                        </div>
                        <div class="row">
                            <div class="col">"level_one":</div><div class="col"><input class="input" v-model="c.level_one"></input></div><div class="col">,</div>
                        </div>
                        <div class="row">
                            <div class="col">"level_three":</div><div class="col"><input class="input" v-model="c.level_three"></input></div><div class="col">,</div>
                        </div>
                        <div class="row">
                            <div class="col">"level_two":</div><div class="col"><input class="input" v-model="c.level_two"></input></div><div class="col">,</div>
                        </div>
                        <div class="row">
                            <div class="col">"person_capacity":</div><div class="col"><input class="input" v-model="c.person_capacity"></input></div><div class="col">,</div>
                        </div>
                        <div class="row">
                            <div class="col" style="text-align:left">}</div>
                            <div class="col">
                                <div class="">
                                    <b class="button primary" @click="capacitySave">保存</b>
                                    <b class="button" @click="page='device'">返回</b>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div v-if="b.map" class="Mo sh animate">
            <div class="dot" style="background:#f00" :style="{left:rem(d.x1),top:rem(d.y1)}"></div>
            <div class="dot" style="background:#0f0" :style="{left:rem(d.x2),top:rem(d.y2)}"></div>
            <div class="dot" style="background:#0af" :style="{left:rem(d.x3),top:rem(d.y3)}"></div>
            <div class="dot" style="background:#f80" :style="{left:rem(d.x4),top:rem(d.y4)}"></div>
        </div>
    </div>
    <script src="lib/vue.js"></script>
    <script src="lib/proto.js"></script>
    <script src="lib/$.js"></script>
    <script src="lib/ajax.js"></script>
    <script src="lib/jquery.js"></script>
    <script src="lib/echarts.min.js"></script>
    <!-- <script src="js/global.js"></script> -->
    <script>

    ajax.base = location.origin + '/labelling_platform/'
    if (location.protocol=='file:') {
        ajax.base = 'http://10.4.91.91:8080/labelling_platform/'
        ajax.base = 'http://10.4.91.126:8080/labelling_platform/'
        // ajax.base = 'http://10.4.91.2:8088/labelling_platform/'
    }
    // ajax.useLocal = true

    var vue = new Vue({
        el: '#vue',
        data: {
            t:{
                area:[],
                device:[],
            },
            d:{
                // area_id: ''
                x1:'',y1:'',
                x2:'',y2:'',
                x3:'',y3:'',
                x4:'',y4:'',
            },
            c:{
                area_id: ''
            },
            // route
            page: 'device', // capacity
            args: {},
            b:{
                map: false
            }
        },
        watch:{
            xd: function () {
                vue.route = 'device/add'
            },
        },
        methods: {
            rem: function(x) {
                return x / 100 + 'rem'
            },
            showPage: function (page, args) {
                vue.page = page
                vue.args = args
                if (page=='device') {
                    vue.d = args
                }
                if (page=='capacity') { //  区域容量有 area_id 没有 device_id, 设备容量同时有
                    if (args.device_id&&args.area_id) {
                        vue.c = vue.t.capacity.select({device_id:args.device_id}).get({area_id:args.area_id}) || args
                    }
                    if (args.area_id&&!args.device_id) {
                        vue.c = vue.t.capacity.get({area_id:args.area_id, 'device_id==':null}) || args
                    }
                }
            },
            areaLoad: function() {
                ajax({
                    local: 'data/area.json',
                    url: 'trajectory/listArea.do',
                    success: function(res) {
                        var data = res.data || []
                        vue.t.area = data
                    }
                })
            },
            deviceLoad: function () {
                ajax({
                    url: '/deviceAction/getAllDevice.do',
                    success: function (res) {
                        var data = res.data || []
                        vue.t.device = data
                    }
                })
            },
            deviceSave:function () {
                var url = vue.d.id?
                    '/deviceAction/editDevice.do':
                    '/deviceAction/addDevice.do'

                $.ajax({
                    url: ajax.base+url,
                    type: 'post',
                    data: vue.d,
                    dataType: 'json',
                    success: function (res) {
                        alert(res.msg)

                        if (res.error) return
                        vue.t.device.update({id:vue.d.id}, vue.d).ensure(vue.d)
                        // vue.d = {}
                    }
                })
            },
            deviceDelete: function (id) {
                if (!confirm()) return

                $.ajax({
                    url: ajax.base+
                    '/deviceAction/delDevice.do',
                    type: 'post',
                    data: vue.d,
                    dataType: 'json',
                    success: function (res) {
                        alert(res.msg)

                        if (res.error) return
                        vue.t.device.remove(vue.d)
                        vue.d = {}
                    }
                })
            },
            // 
            capacityLoad: function () {
                ajax({
                    url: '/listAreaCapacitySetting.do',
                    success: function (res) {
                        var data = res.data || []
                        vue.t.capacity = data
                    }
                })
            },
            capacitySave:function () {
                var url = '/addOrEditCapacitySetting.do'

                $.ajax({
                    url: ajax.base+url,
                    type: 'post',
                    data: vue.c,
                    dataType: 'json',
                    success: function (res) {
                        alert(res.msg)

                        if (res.error) return
                        vue.t.capacity.update({area_id:vue.c.area_id,'device_id==':null}, vue.c).ensure(vue.c)
                        vue.c = {}
                    }
                })
            },
            capacityDelete: function (id) {
            },
            load: function () {
                vue.areaLoad()
                vue.deviceLoad()
                vue.capacityLoad()
            }
        },
        mounted: function() {
            vue = this

            vue.load()
        }
    })

    </script>
</body>

</html>